.linkss {
    width: 40%;
    text-align: center;
    margin-left: 29%;
}

.postss {
    border-bottom: 2px solid;

}

.cont {
    width: 30%;
    margin-left: 29%;
}

.listofposts {
    width: 70%;
    text-align: center;

}

.post {
    text-align: center;
    max-width: 50%;


}

.desc {
    width: 40%;
    text-align:center;
    margin-left: 25%;

}

.contt {
    width: 50%;
    text-align: center;
    margin-left: 20%;
}

.btnn {
    margin-top: 3%;
    width: 30%;
    margin-left:30%;
}
